/* ! Footer  */

.footer {
  background-color: #000;
  width: 100%;
  height: 100%;
  color: #fff;
  overflow: hidden;
  margin-top: 40px;
  padding-bottom: 130px;
}

.footer .footer-downloads {
  float: left;
  width: 30%;
  margin: 0 5%;
}

.footer .footer-downloads img,
.footer-subscribe {
  margin-top: 20px;
}

.footer-downloads p {
  margin-top: 50px;
  font-size: 15px;
  color: grey;
  line-height: 1.5;
}

.footer-downloads-info {
  margin-top: 20px;
}

.footer-lists {
  float: left;
  width: 30%;
  margin: 32px 5%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 14px;
}

.footer-lists .footer-list-1,
.footer-lists .footer-list-2,
.footer-subscribe {
  font-size: 16px;
}

.footer-lists .footer-list-1 h3,
.footer-lists .footer-list-2 h3 {
  font-size: 20px;
}

.footer-lists .footer-list-1 ul,
.footer-lists .footer-list-2 ul {
  margin-top: 30px;
}

.footer-lists .footer-list-1 ul li,
.footer-lists .footer-list-2 ul li {
  color: grey;
  padding-bottom: 20px;
}

.footer-subscribe {
  padding-top: 11px;
  float: right;
}

.footer-lists .footer-subscribe h3 {
  font-size: 20px;
}

.footer-lists .footer-subscribe .search {
  overflow: hidden;
}

.footer-lists .footer-subscribe input {
  float: left;
}

.footer-lists .footer-subscribe .icon {
  float: right;
}

.footer-two {
  background-color: #000;
  height: 50px;
  border-top: 1px solid grey;
}

.footer-two span {
  padding-left: 30px;
  color: grey;
  font-size: 13px;
  margin-bottom: 10px;
}
