/* Todo Global styling  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

:root {
  --mainColor: #795548;
  --subColor: #333;
}

.list-unstyled {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

.section-padding {
  padding-top: 50px;
}

.section-header {
  text-align: center;
  margin: 40px 0;
}

.section-header .section-title {
  margin-bottom: 15px;
  font-weight: bold;
}

.section-header .line {
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--mainColor);
  margin: 0 auto;
  margin-bottom: 30px;
  transition: width 0.2s ease;
}

.section-header:hover .line {
  width: 150px;
}